body {
    margin: 0
}

.header {
    background-image: url('./brasil.jpg');
}

nav {
    height: 50px;
    /* background: midnightblue; */
}

.liste {
    height: 100%;
    /* background: midnightblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: ease-in-out;
}

.items {
    margin-right: 15px;
    color:midnightblue;
    cursor: pointer;
  

}
.btn, .eye-Brasil {
    display: none;
}

@media screen and (max-width: 500px) {
    .liste {
        flex-direction: column;
        height: 190px;
        background-image: url('./brasil.jpg');
    }
    .items:nth-child(1) {
        border-top: 1px solid #fff;
        margin-top: 50px;
    }
    .items {
        height: 50px;
        margin-top: 2vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #fff;
        transition: top 500ms ease-in-out 0ms;
        /* line-height: 50px; */
        margin: auto;    }
    .btn {
        display: block;
        position: absolute;
        right: 12px;
        top: 8px;
        color: #f1f1f1;
        cursor: pointer;
    }
    .eye-Brasil {
        display: block;
        position: absolute;
        left: 12px;
        top: 8px;
        margin-left: 14%;
        margin-top: 5px;
        width: 14vw;
        height: 5vh;
        background-image: url('./logo.jpg');
        background-size: cover;
    }
}

.hamb-icon {
    width: 6vw;
    height: 5vh;
    filter: brightness(0) invert(1);
}

.cel-screen {
    display: flex;
    justify-content: space-between;
}


a {
    text-decoration: none;
}

.Open {
    transform: translateX(0)
    }
    
    .Close {
    transform: translateX(-100%);
    }
