.container {
    /* position: relative; */
    width: 100%;
    height: 90vh;
    background-image: url('./Brazil3.jpg');
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: -25px;
    background-color: black;
   
}

.container .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url('./wave.png');
    background-size: 1000px 100px;
}

h1 {
    position: absolute;
    align-self: center;
    color: midnightblue;
    font-size: 33px;
    font-family: 'Dancing Script';
    font-style: italic;
    margin-top: -32vh;
    justify-self: center;
    justify-self: center;
}

.seeMore {
    position: absolute;
    align-self: center;
    width: 20vw;
    height: 10vh;
    color: white;
    /* font-family: 'Dancing Script'; */
    font-style: bold;
    font-size: 25px;
    margin-top: -12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-image: url('./Brazil2.jpg');
    background-size: cover;
    text-decoration: none;
    text-align: center;
}

.container .wave1 {
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

@media screen and (max-width: 500px) {
    .container {
        background-image: url('./Brazil6.jpg');
        margin-top: -20px;
    }
    h1 {
        color: white
    }
    .seeMore{
        font-size: 17px;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 20vw;
        height: 6vh;
    }
}

@keyframes animate {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}

.container .wave2 {
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 5px;
}

@keyframes animate2 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1000px;
    }
}

.container .wave3 {
    animation: animate 15s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 7px;
}

.container .wave4 {
    animation: animate2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -2s;
    bottom: 10px;
}


